<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>para unirse a nosotros en la fundacion scp</title>
    <link rel="stylesheet" href="../css/style 2.css">
    <link rel="stylesheet" href="../css/style 1.css">
    <link rel="icon" href="../imagenes/logo de pestaña.webp">
</head>

<body>

    <header>

        <div>

            <h1 id="perro">ACLARACION IMPORTANTE: La Fundación SCP es una organización ficticia dedicada a la investigación de fenómenos paranormales. Pertenece al universo de ficción colaborativa registrado en el sitio web homónimo. (en si todo esto es falso y solo es ficcion) </h1>

        </div>

    </header>

    <nav class="puerta">
        
        <a href="../../index.html">inicio</a>

    </nav>

    <form action="">

        <fieldset>

            <legend>formulario de registro</legend>

            <label for="name">Nombre</label>

            <input type="text" id="name">

            <label for="Apellido">Apellido</label>

            <input type="text" id="Apellido">

            <label for="mail">Email</label>

            <input type="email" name="" id="mail" required>

            <label for="pass">Contraseña</label>

            <input type="password" id="pass" required>

            <label for="fecha">fecha de nacimiento</label>

            <input type="date" id="fecha">

            <input type="submit" value="cargar">

            <input type="reset" value="borrar">

        </fieldset>

    </form>

    <footer>

        <p>&copy;Elio Gomez, 13/6/2024 a las 23:59:28</p>

    </footer>

</body>

</html>